TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:5173/api/auth/callback
TWITCH_BROADCASTER_REDIRECT_URI=http://localhost:5173/api/auth/broadcaster-callback
TWITCH_EVENTSUB_SECRET=
TWITCH_BROADCASTER_ID=
TWITCH_REWARD_ID=
JWT_SECRET=
